/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Geologica", sans-serif;
    background-color: #ececec;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 5px; /* Spacing between cells */
    padding: 30px;
    width: 100%;
    max-width: 300px; /* Ensures the grid isn't too wide on larger screens */
    margin: 20px auto;
    aspect-ratio: 1; /* Always square */
}

.input-cell {
    height: 60px;
    background-color: #e4e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color:rgb(0, 0, 0);
    border: 2px solid #ccc; /* Grey border */
    border-radius: 3px; /* Styling for when the cell is highlighted */
    aspect-ratio: 1; /* Always square */
}

.input-cell.active {
    border-color: #4CAF50; /* Green border for the active cell */
    background-color: #cecece;
}